h1{
    background-color: rgb(151, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
}
.x{
    background-color: bisque;
}  
.a{
    color: crimson;
    background-color: rgb(10, 141, 228);
}
.b{
    color: deeppink;
    background-color: rgb(20, 161, 228);
}
.c{
    color: rebeccapurple;
    background-color: rgb(30, 181, 228);
}
.d{
    color: antiquewhite;
    background-color: rgb(40, 201, 211);
}
.e{
    color: red;
    background-color: rgb(50, 221, 228) ;
}
.f{
    color: rgb(7, 15, 41);
    background-color: rgb(60, 241, 228);
}
.g{
    color: goldenrod;
    background-color:rgb(15, 119, 2);
}
.h{
    color: rgb(121, 13, 88);
    background-color: rgb(15, 146, 0);
}
.j{
    color: #971;;
    background-color: rgb(23, 194, 3);
}
.k{
    color: aqua;
    background-color:rgb(39, 236, 17);
}
.l{
    color: blue;
    background-color: rgb(79, 243, 79);
}
.m{
    color: yellow;
    background-color:rgb(116, 255, 97);
}
*{
    margin: 0 0;
}
